.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 25px;
}

.inactive {
    background-color: grey;
}

.liked {
    background-color: green;
}

.disliked {
    background-color: red;
}

.box {
    width: 100px;
}