.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
}

.inactive {
    background-color: grey;
}

.liked {
    background-color: green;
}

.disliked {
    background-color: red;
}